.table_item {
    overflow: auto;
    height: calc(100% - 88px);
}

.form {
    margin-bottom: 24px;
}

.tableWrap {
    overflow: auto;
    height: calc(100% - 80px);
}

.publishAt {
    width: 100%;
}